    <div class="container">
      <div class="jumbotron vertical-center">
        <aside>
          <h2>404 - Page Not Found!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.</p>
        </aside>
        
      </div>
    </div>
