 <div class="row">
            <h2>Add Department</h2>
            <br>
            <form action="/departments/add" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Department Name:</label>
                                <input class="form-control" id="departmentName" name="departmentName" type="text">
                            </div>
                        </div>
                    </div>
                <hr>
                <input type="submit" class="btn btn-primary pull-right lnk" value="Add Department"><br>
            </form>
      </div>