.vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;

  }

body {
    font-family: "Montserrat";
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}